/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/02/2016, 15:57:43
    Author     : gustavo
*/

body {
    margin: 0;
}

#menu {
    vertical-align: top;
    width: 250px;
    
    font-family: verdana;
    color: white;
    background: #4c4c4c;
}

#menu a {
    text-decoration: none;
    color: white;
    font-family: verdana;
    line-height: 25px;
}

#conteudo {
    vertical-align: top;
    text-align: left;
    height: 650px;
    
    font-family: verdana;
    color: black;
    background: #e4e4e4;
}

#conteudo h1 {
    margin: 0;
    padding: 7px;
    
    font-family: verdana;
    color: white;
    background: #a80101;
}

#conteudo h2 {
    margin: 25px;
    
    font-family: verdana;
    font-size: 14px;
}

#conteudo div {
    margin: 25px;
}

#footer {
    vertical-align: middle;
    text-align: center;
    height: 70px;
    
    font-family: verdana;
    color: white;
    background: black;
}

#login {
    margin: 70px;
}

#login .campo {
    width: 314px;
    height: 25px;
    margin: 5px;
    letter-spacing: 2px;
    text-align: center;
}

#login select {    
    height: 25px;
    margin: 5px;
    letter-spacing: 2px;
    text-align: center;
    
    background: #fecaca
}

#login .botao {    
    width: 319px;
    margin: 5px;
    padding: 7px;
    letter-spacing: 2px;
    text-align: center;
}

#login a {
    margin: 5px;    
}

.formulario {
    text-align: center;
    padding: 25px;    
}

.formulario input, .formulario select {
    margin-top: 14px;       
}

.formulario .campo, .formulario select, .formulario .botao {
    margin-left: 2px;
    margin-right: 2px;
    width: 400px;
    height: 25px;
    text-align: center;
    font-family: verdana;
    font-size: 14px;    
    letter-spacing: 2px;    
}

.dadosTabelados {
    margin: 25px;
    border: 2px solid #6b0101;    
}

.dadosTabelados th {
    padding: 14px;    
    border-bottom: 1px solid black;
    color: white;
    background: #6b0101;
    text-align: center;
}

.dadosTabelados td {
    padding: 14px;   
    border-right: 1px solid #6b0101;
    text-align: center;
}
